body {
    background-color: #1f2937;
    display: flex;
    flex-flow: column wrap;
}


main {
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}


.header {
    background-color: #1f2937;
    display: flex;
    margin: 0;
    padding: 0px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: auto;
}
.box {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
}
a:visited {
    color: wheat;
}
.hero {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

